@charset "utf-8";


body{
    background-color: aliceblue;
}
h1{
    color: brown;
    text-align: center;
}
h2{
    text-shadow: 3px 3px 5px skyblue;
}
p{
    font-family: "휴먼편지체";
    font-size: 1em;
    text-indent: 1em;
}
a{
    text-decoration: none;
}
header{
    border-bottom: 1px solid;
}
nav ul{
    border-style: dashed;
}
footer{
    background-color: orange;
    border-radius: 15px;
}