@charset "utf-8";

#Business{
    background-image: url(../imgs/Business_1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 80px;
}

h1 img{
    margin-left: 15%;
    width: 60%;
    height: auto;
}