@charset "utf-8";

#Main_page{
    background-image: url(./imgs/main_page.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 80px;
}

h1 img{
    margin-left: 15%;
    width: 60%;
    height: auto;
}

nav ul{
    list-style-type: none;
    margin-top: 6.5%;
}

a {
    text-decoration: none;
    color: white;
}

li{
    display: inline;
    font-size: 100%;
    padding: 20px;
}

main{
    text-align: center;
}

main h1{
    margin-top: 6.5%;
    color: white;
    font-size: 4rem;
}

footer{
    background-color: black;
    position: absolute;

    width: 100%;
    top: 95%;
    bottom: 0;
}

p{
    color: white;
    text-align: center;
}