@charset "utf-8";

#Slide{
    background-image: url(../images/Slide2.gif);
    background-size: cover;
    background-position: center;
    background-position-y: top;
    min-height: 100vh;
}

html, body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 90px;
}

h1 img{
    margin-top: 0;
    margin-left: 80%;
    width: auto;
    height: 55px;
}

nav{
    margin-right: 12%;
}

nav ul{
    list-style: none;
    margin-top: 8%;
}

a{
    text-decoration: none;
    color: white;
}

li{
    display: inline;
    font-size: 150%;
    padding: 20px;
}

main .Slideshow_Container{
    width: 300vw;
}

main .Slide_fade{
    width: 100vw;
    float: left;
}

main .Slide_fade img{
    width: 100%;
}

main .dot{
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 5em;
}

footer{
    background-color: black;
    position: absolute;
    width: 100%;
    top: 95%;
    bottom: 0;
}

footer p{
    color: white;
    text-align: center;
}